:root{

    --trouble-color: #f76816;
    --pop-color: #d9eb3d;
    --cash-color: #2c8f55;
    --text-stroke: #333;
}

.guest-card{

    width:125px;
    height: 175px;
    border-radius: 10px;
    margin: 4px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap:8px;
    padding:10px;

    .portrait{
        width: 90%;
        height: 60%;
    }

    .title{
        font-size: 1.2rem;
        font-weight: 600;

    }

    .stats-row, .abilty-row, .action-line{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 8px;
    }


    .stat-number{
        font-size: 18px;
        display: flex;
        gap:4px;
        justify-content: center;
        align-items: center;
    }
    .trouble{
        color: var(--trouble-color);
    }
    .pop{
        color: var(--pop-color);
    }
    .cash{
        color: var(--cash-color);
    }

    .stroked-text {
        text-shadow:
        2px 2px var(--text-stroke),
        2px 0 var(--text-stroke),
        0 2px var(--text-stroke),
        2px -2px var(--text-stroke),
        0 -2px var(--text-stroke),
        -2px -2px var(--text-stroke),
        -2px 0 var(--text-stroke),
         0 0 5px var(--text-stroke);
    }




}